/* imported font */
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf);
 }
* {
     font-family: OpenSans-Regular;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}


/* background css */
/* sets the background colour to the full width of the viewport */
.beigeBG, .blackBG {
    width: 100vw;
}
/* sets beige background with black text */
.beigeBG {
    background-color: beige;
    color: black;
}
/* sets black background with white text */
.blackBG {
    background-color: black;
    color: white;
}
/* sets light grey background with black text */
.accordion {
    background-color: lightgrey;
    color: black;
}
.panel {
    background: white;
    color: black;
}


/* flex containers css */
/* flex containers, direction: row, wrap: wrap, aligns item vertically to the centre of the container */
.beigeContent, .blackContent, .accordion {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
/* beige background content (header)*/
.beigeContent {
    padding: 0 2em;
}
/* black background content (body)*/
.blackContent {
    max-width: 960px;
    width: 100vw;
    margin: 0 auto;
    padding: 2em 2em;
}
.accordion, .panel {
    max-width: 960px;
    width: 100vw;
    margin: 0em 1em;
}
.accordion {
    padding: 1em;
}
.panel {
    padding: 0 1em;
    max-height: none;
    overflow: hidden;
}


/* header css */
/* sets name logo to occupy 2 units of the header container */
h1#header {
    flex: 2 1 0;
    padding-left: 1rem;
}
/* ensures links in the header are not underlined */
#header a, li a {
    text-decoration: none;
}
/* sets nav menu to occupy 3 units of the header container */
nav {
    flex: 3 1 0;
    text-align: right;
}
/* aligns the text in the nav menu to the right of the container */
nav ul {
    padding: 0;
}
/* displays the text in the nav menu as inline */
nav li {
    display: inline;
}
/* ensures the text colour of the links follow the colour of the container they are in */
a {
    color: inherit;
}
/* spaces out the nav menu links in the header */
li a {
    padding: 1em;
}
/* highlights page the user is currently on */
.currentPage a {
    background-color: rgb(75, 75, 75);
    color: white;
}
/* sticks the nav bar to the top of the page when the user reaches its scroll position */
.sticky {
    position: sticky;
    top: 0;
}


/* image css */
/* auto resize image */
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
/* sets the logo to have a minimum width of 12.5% */
.logo {
    flex-grow: 0;
    flex-basis: 12.5%;
    padding: 1em auto;
}
/* makes the image rounded */
.roundedImage img {
    border-radius: 50%;
}
/* positions the element to horizontally be in the center of the container */
.center {
    text-align: center;
}


/* text css */
/* sets the line spacing of the body text, and gives the body text a margin */
.bodyText {
    line-height: 200%;
    margin: 1em;
}
/* sets the text to occupy the entire width of the container */
.fullText {
    flex-basis: 100%;
}
/* sets the text to have a minimum width of 70% */
.textWithImage {
    flex-grow: 1;
    flex-basis: 70%;
    padding-left: 1em;
}


label {
    font-size: 26px;
    display: none;
}
#toggle {
    display: none;
}


/* media queries */
/* for screens 719px and smaller (includes 540px) */
@media screen and (max-width: 719px) {   
    /* hides criteria text */
    .panel {
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }
    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 1em;
        color: grey;
        float: right;
        margin-left: 0.5em;   
    }
    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }
    
    
    label {
        display: block;
    }
    nav {
        text-align: left;
        flex-basis: 100%;
        width: 100%;
        display: none;
    }
    nav a {
        display: block;
        margin: 0;
    }
    #toggle:checked + nav {
        display: block;
    }
}
/* for screens 720px to 1079px wide */
@media screen and (min-width: 720px) and (max-width: 1079px) {
    /* shows criteria text */
    .panel {
        display: block;
    }

    label {
        display: block;
    }
    nav {
        text-align: left;
        flex-basis: 100%;
        width: 100%;
        display: none;
    }
    nav a {
        display: block;
        margin: 0;
    }
    #toggle:checked + nav {
        display: block;
    }

}
/* for screens 1080px and wider (includes 1440px) */
@media screen and (min-width: 1080px) {
    /* shows criteria text */
    .panel {
        display: block;
    }
}
